# Don't keep this files:

*.xlsx
*.png
*.txt

# Ignore specific files:
I_D.pickle
DF.pickle
untitled0.py
Noise_Photodetector_TEST.py
Qlunc_NoteBook-checkpoint.ipynb

# Ignore specific folders:
Figures/
