# Ignore this file formats:
*.pyc
*.xlsx
*.png
*.txt

# Ignore specific files:
I_D.pickle
DF.pickle
Noise_Photodetector_TEST.py
Qlunc_NoteBook-checkpoint.ipynb

# Ignore specific folders:
Figures/
Qlunc_CLASSES/
